<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@admin.name}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @admin.name %></td>
          </tr>
          <tr>
            <th class="table__col1">職員番号</th>
            <td class="table__col2"><%= @admin.employee_id %></td>
          </tr>
        </tbody>
      </table>

      <% if admin_signed_in? && current_admin.id == @admin.id %>
        <div class="show-btn">
          <div class="nav__right">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: :detail_nav__btn %>
          </div>
          <div class="nav__right">
            <%= link_to "登録情報の編集", edit_admin_registration_path, method: :get, class: :detail_nav__btn %>
          </div>
          <div class="nav__right">
            <%= link_to "管理者ページ", search_admins_path, method: :get, class: :detail_nav__btn %>
          </div>
          <div class="nav__right">
            <%= link_to "児童・生徒登録", new_user_registration_path, class: :detail_nav__btn %>
          </div>
        </div>
      <% end %>

      <%= render "shared/show_like"%>

    </div>
  </div>
</div>