<header class='top-page-header'>
  <div class="header">
    <div class="left-header">
      <%= link_to "Library Go", root_path, class: :logo %>
    </div>
    <div class="right-header">
      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to "マイページ", user_path(current_user.id), class: :nav__btn %>
          <%= link_to "記録する", new_book_path, class: :nav__btn %>
        </div>
      <% elsif admin_signed_in? %>
        <div class="nav__right">
          <%= link_to "マイページ", admin_path(current_admin.id), class: :nav__btn %>
          <%= link_to "記録する", new_book_path, class: :nav__btn %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</header>