<div class="user-post-like">
  <h2 class="page-heading-title" id="user_book_field">
    <%= "投稿一覧" %>
  </h2>
  <h2 class="page-heading-title" id="user_like_field">
    <%= "いいね一覧"%>
  </h2>
</div>

<div class="user-posts">
  <div class="user__card hidden" id="user_card">
    <div class="user-book-field">
      <% @books.each do |book| %>
        <div class="user-book-item">
          <%= link_to book_path(book.id) do %>
            <div class="detail-book">
              <% if book.image.present? %>
                <%= image_tag book.image, class:"detail-book-img" %>
              <% else %>
                <%= image_tag "book_image.png", class:"detail-book-img" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="user-likes">
  <div class="user__card hidden" id="user_likes">
    <div class="user-book-field">
      <% if @likes.present? %> 
        <% @likes.each do |like| %>
          <% book = like.book %>
          <div class="user-book-item">
            <%= link_to book_path(book.id) do %>
              <div class="detail-book">
                <% if book.image.present? %>
                  <%= image_tag book.image, class:"detail-book-img" %>
                <% else %>
                  <%= image_tag "book_image.png", class:"detail-book-img" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="non-like">いいねをしている投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>