<div class="book-field">
  <% @books.each do |book| %>
    <%= link_to book_path(book.id) do %>
      <div class="book">
        <% if book.image.present? %>
          <%= image_tag book.image, class:"book-img" %>
        <% end %>
        <div class="book-name">
          本の名前：<%= book.book_name %>
        </div>
        <div class="book-author">
          著者：<%= book.author %>
        </div>
        <div class="book-genre">
          ジャンル：<%= book.genre.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>