<% if user_signed_in? || admin_signed_in? %>
  <div class="book-wrapper">
    <%= render "shared/search" %>
    
    <%= render "shared/timeline" %>

    <div class="book-field">
      <%# <h1 class='title'>みんなの投稿</h1> %>
      
      <%= render partial: "shared/book", collection: @books %>
    </div>
  </div>

<% else %>
  <div class="start-page" >
    <div class="top-img">
      <%= image_tag "book-toppage.jpg" %>
    </div>
    <div class="top-text">
      <div class="greeting">
        <h1>Library Go へようこそ！</h1>
        <p>ー本の世界へ飛び出そうー</p>
      </div>
      <div class="start-account">
        <div class="account-btn">
          <h3 class="teacher">学校登録はこちら</h3>
          <%= link_to "学校登録", new_admin_registration_path, class: :account_btn %>
        </div>
        <div class="account-btn">
          <h3 class="teacher">先生はこちら</h3>
          <%= link_to "ログイン", new_admin_session_path, class: :account_btn %>
          <%= link_to "新規登録", new_admin_registration_path, class: :account_btn %>
        </div>
        <div class="account-btn">
          <h3 class="student">児童・生徒はこちら</h3>
          <%= link_to "ログイン", new_user_session_path, class: :account_btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :account_btn %>
        </div>
      </div>
    </div>
  </div>
<% end %>