<%= render "shared/header" %>
<div class="book">
  <% @books.each do |book| %>
    <% if book.image.present? %>
      <%= image_tag book.image, class:"book-img" %>
    <% end %>
    <div class="book-name">
     <%= book.book_name %>
    </div>
    <div class="book-author">
      <%= book.author %>
    </div>
    <div class="book-publisher">
      <%= book.publisher %>
    </div>
    <div class="book-genre">
      <%= book.genre.name %>
    </div>
  <% end %>
</div>