
</div> 
<div class="detail-post">
  <div class="detail-book-user">
    <% if @book.user.present? %>
      <%= link_to @book.user.name, user_path(@book.user) %>
    <% elsif @book.admin.present? %>
      <%= link_to @book.admin.name, admin_path(@book.admin) %>
    <% end %>
  </div>
  <div class="detail-book">
    <% if @book.image.present? %>
      <%= image_tag @book.image, class:"detail-book-img" %>
    <% else %>
        <%= image_tag "book_image.png", class:"detail-book-img" %>
    <% end %>
    <div class="detail-book-overview">


      <div class="detail-book-name">
        <%= @book.book_name %>
      </div>
      <div class="detail-book-author">
        著者：<%= @book.author %>
      </div>
      <div class="detail-book-publisher">
        出版社：<%= @book.publisher %>
      </div>
      <div class="detail-book-genre">
        ジャンル：<%= @book.genre.name %>
      </div>
      <div class="book-text">
        感想<br>
        <%= @book.text %>
      </div>
      
      <% if user_signed_in? || admin_signed_in? %>
        <div id="like_buttons_<%= @book.id %>">
          <%= render partial: "likes/like", locals: { book: @book } %>
        </div>
      <% end %>

      <% if user_signed_in? && current_user.id == @book.user_id %>
        <%= link_to "編集", edit_book_path(@book.id), class: :detail_nav__btn %>
        <%= link_to "削除", book_path(@book.id), method: :delete, data: { confirm: '投稿が完全に削除されます。よろしいでしょうか。'}, class: :detail_nav__btn %>
      <% elsif admin_signed_in? && current_admin.id == @book.admin_id %>
        <%= link_to "編集", edit_book_path(@book.id), class: :detail_nav__btn %>
        <%= link_to "削除", book_path(@book.id), method: :delete, data: { confirm: '投稿が完全に削除されます。よろしいでしょうか。'}, class: :detail_nav__btn %>
      <% elsif admin_signed_in? && current_admin.id %>
        <%= link_to "削除", book_path(@book.id), method: :delete, data: { confirm: '投稿が完全に削除されます。よろしいでしょうか。'}, class: :detail_nav__btn %>
      <% end %>
    </div>
  </div>

  <div class="book__comments">
    <%= render "shared/comment" %>
  </div>
</div>

