<%# <div class="book-wrapper">
  <div class="book-field">
    <%= render partial: "shared/book", locals: { book: @book } %>
  </div>
</div> 
<div class="detail-post">
  <div class="book-user">
    <% if @book.user.present? %>
      <%= link_to @book.user.name, user_path(@book.user) %>
    <% elsif @book.admin.present? %>
      <%= link_to @book.admin.name, admin_path(@book.admin) %>
    <% end %>
  </div>
  <div class="detail-book">
    <% if @book.image.present? %>
      <%= image_tag @book.image, class:"detail-book-img" %>
    <% end %>
    <div class="detail-book-overview">


      <div class="detail-book-name">
        <%= @book.book_name %>
      </div>
      <div class="detail-book-author">
        著者：<%= @book.author %>
      </div>
      <div class="detail-book-publisher">
        出版社：<%= @book.publisher %>
      </div>
      <div class="detail-book-genre">
        ジャンル：<%= @book.genre.name %>
      </div>
      <div class="book-text">
        感想<br>
        <%= @book.text %>
      </div>
      
      <% if user_signed_in? || admin_signed_in? %>
        <div id="like_buttons_<%= @book.id %>">
          <%= render partial: "likes/like", locals: { book: @book } %>
        </div>
      <% end %>

      <% if user_signed_in? && current_user.id == @book.user_id %>
        <%= link_to "編集", edit_book_path(@book.id), class: :detail_nav__btn %>
        <%= link_to "削除", book_path(@book.id), method: :delete, class: :detail_nav__btn %>
      <% elsif admin_signed_in? && current_admin.id == @book.admin_id %>
        <%= link_to "編集", edit_book_path(@book.id), class: :detail_nav__btn %>
        <%= link_to "削除", book_path(@book.id), method: :delete, class: :detail_nav__btn %>
      <% elsif admin_signed_in? && current_admin.id %>
        <%= link_to "削除", book_path(@book.id), method: :delete, class: :detail_nav__btn %>
      <% end %>
    </div>
  </div>
  <div class="book__comments">
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.content %>
          <%= link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %>
          <%= link_to "削除", book_comment_path(comment.id), method: :delete, class: :comment_delete %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? || admin_signed_in? %>
      <div class="comment-field">
        <%= form_with(model: [@book, @comment], local: true) do |f| %>
          <div class="field">
            <%= f.label :content, "コメント" %> <br />
            <%= f.text_field :content, id:"comment_content" %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :form__btn  %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

