<div class="book">
  <% if @book.image.present? %>
    <%= image_tag @book.image, class:"book-img" %>
  <% end %>
  <div class="book-name">
    本の名前：<%= @book.book_name %>
  </div>
  <div class="book-author">
    著者：<%= @book.author %>
  </div>
  <div class="book-publisher">
    出版社：<%= @book.publisher %>
  </div>
  <div class="book-genre">
    ジャンル：<%= @book.genre.name %>
  </div>
  <div class="book-text">
    感想：<%= @book.text %>
  </div>
</div>

<% if user_signed_in? && current_user.id == @book.user_id %>
  <%= link_to "編集", edit_book_path(@book.id) %>
  <%= link_to "削除", book_path(@book.id), method: :delete %>
<% end %>

<div class="book__comments">
  <% if user_signed_in? %>
    <%= form_with(model: [@book, @comment], local: true) do |f| %>
      <div class="field">
        <%= f.label :content, "コメント" %> <br />
        <%= f.text_field :content, id:"comment_content" %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: :form__btn  %>
      </div>
    <% end %>
  <% end %>
  <ul class="comments_lists">
    <% @comments.each do |comment| %>
      <li class="comments_list">
        <%= comment.content %>
        <%= link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %>
      </li>
    <% end %>
  </ul>
</div>

<%# <%= link_to "（#{comment.user.name}）", user_path(comment.user), class: :comment_user %> 
