<%= form_with model: @school, url: schools_path, id: 'example_form', class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        登録情報入力
      </h1>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">都道府県</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.select :prefecture_id, nil, {}, {'v-model': 'selectedPref', '@change': 'getCities(selectedPref)'} do %>
        <option v-for="prefecture in prefectures" :key="prefecture.name" :value="prefecture.id">
          {{prefecture.name}}
        </option>
      <% end %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">市区町村</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.select :city_id do %>
        <option v-for="city in cities" :key="city.name" :value="city.id">
          {{city.name}}
        </option>
      <% end %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">学校名</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :name, class:"input-default", id:"school-name", placeholder:"学校名" %>
      </div>
    </div>

    <div class="form-group">
      <div class='register-btn'>
        <%= f.submit "登録する" ,class:"register-red-btn" %>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag 'hello_vue' %>
