<!DOCTYPE html>
<html>
  <head>
    <title>LibraryGo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/20a8b0685b.js" crossorigin="anonymous"></script>
    <%= include_gon %>
  </head>

  <body>
    <div class="inner">
      <%= render "shared/header" %>
      <%= yield %>
    </div>
  </body>
</html>
